.container{
    display: grid;
    grid-template-columns: 300px 2fr 200px 1fr;
    grid-template-rows: auto minmax(10px, auto) 100px;
}
.el{
    margin: 0;
}
.el1{
    @extend .el;
    background-color: rgba(122, 194, 45, 0.5);
    grid-row-end: span 2;
}
.el2{
    @extend .el;
    background-color: rgba(121, 67, 54, 0.5);
    grid-column-start:4;
    grid-column-end: 5; 
    grid-row-start: 1;
    grid-row-end: 4;
    // z-index: 1;
}
.el3{
    @extend .el;
    background-color: rgba(219, 26, 155, 0.5);
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 2;
}
.el4{
    @extend .el;
    background-color: rgba(242, 245, 56, 0.5);
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 3;
    // z-index: 2;
}